@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-position-y: bottom;
  height: 90vh;
  width: 100vw;
  max-width: 100%;
}
.search-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 40vh;
  text-align: center;
  padding: 20px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.discover-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100vw;
  max-width: 100%;
  padding: 1.1rem;
}

.discover-title,
.filter-container {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.movie-containter {
  display: grid;
}

.footer {
  height: 40vh;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.title-container,
.form-container {
  width: 35%;
}

.input {
  display: block;
  width: 450px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.form-title {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subtext {
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}

.link {
  text-decoration: none;
  color: #ff0000;
}

.button {
  padding: 1rem;
  width: 150px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 40px;
  border: 1px solid red;
}

.title-container {
  text-align: start;
}
